# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
.Python

# Unit test / coverage reports
.cache
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Other
.DS_Store